ul#nav li a {
  color: #fff
}

ul#nav li a:hover {
  color: #fff
}

a:focus,a:hover {
  color: #e4ff23;
  text-decoration: none
}

.nav-tabs>li>a {
  color: #fff;
  border: 1px solid transparent
}

.nav-tabs>li>a:hover {
  color: #e4ff23;
  background-color: #320050
}

.bonus-slider-modal .modal-title {
  color: #fff
}

.bonus-slider-modal .activation-button {
  background-color: #afc700;
  color: #fff
}

.bonus-slider-modal .activation-button:hover {
  background-color: #7800eb;
  color: #fff
}

.standard-form-note.claim-note span,.standard-form-note.claim-note strong {
  color: #fff
}

.claim-item-type>div {
  background-color: #320050
}

.claim-item-type .expiration-countdown [data-section] {
  background-color: #320050
}

.claim-item-type .expiration-countdown [data-section]::before {
  background-color: #24003a
}

.claim-item-container .claim-item {
  border-color: #320050;
  background-color: #0b0113
}

.claim-item .claim-button,.claim-item .activation-button,.claim-item .cancellation-button,.claim-item .expiration-button {
  background-color: #afc700;
  color: #fff
}

.announcement-container i ul {
  background: #40027e;
  color: #fff
}

.announcement-container [data-section="announcements"] {
  background: #40027e;
  color: #fff
}

.accouncement-container [data-section="date"] {
  color: #fff
}

.tab-content .popular-game-list {
  background-color: #25013d;
  border-color: #25013d;
  color: #fff
}

.sports-platform-title {
  color: #fff
}

.panel-heading.emailbox-heading .panel-tabs>li>a {
  color: #fff
}

.panel-heading.emailbox-heading .panel-tabs>li>a:hover {
  border-color: transparent;
  color: #fff;
  background-color: transparent
}

.panel-heading.emailbox-heading .panel-tabs>li.active>a,.panel-heading.emailbox-heading .panel-tabs>li.active>a:hover,.panel-heading.emailbox-heading .panel-tabs>li.active>a:focus {
  color: #fff;
  background-color: rgba(255,255,255,.23);
  border-bottom-color: transparent
}

.email-paging {
  background-color: #393939;
  color: #fff
}

.email-paging:hover {
  background-color: #202020;
  color: #fff
}

.modal-btn {
  background: #a1b60d;
  color: #fff;
  border-color: #a1b60d
}

.nav-inbox-tabs>li>a:hover {
  color: #fff;
  background-color: #263366
}

.message-detail-title a {
  color: #fff
}

.confirmation-message-modal h4.modal-title {
  color: #fff
}

.poker-game-types ul li p {
  color: #fff
}

.promotion-info .close-button {
  background-color: #e4ff23;
  color: #000
}

.slots-games-container .vendor-name {
  background-color: #330460
}

.slots-games-container .filter-section input[type=text],.casino-games-container .filter-section input[type=text] {
  background: #000;
  color: #fff
}

.slots-games-container .category-filter-link,.casino-games-container .category-filter-link {
  color: #fff
}

.hot-match-container {
  color: #fff
}

.info-center-title {
  background-color: #460289;
  color: #fff
}

.footer-links>li>a {
  color: #fff
}

.site-header .top-menu>li[data-active="true"],.site-header .top-menu>li:hover {
  color: #fff;
  background-image: radial-gradient(circle at top center,#450287 0,#25013b 100%)
}

.copyright {
  color: #fff
}

.standard-side-menu-group-label {
  background-color: #320050;
  color: #fff
}

.standard-form-title {
  background-color: #320050;
  color: #fff
}

.expiration-countdown [data-section="title"] {
  background-color: #555;
  color: #fff
}

.game-list .game-name {
  color: #fff;
  background: #170826;
  background: linear-gradient(to right,#170826 1%,#3a036e 53%,#170826 100%)
}

.winners-ticker ul li .winner-info {
  color: #fff
}

.progressive-jackpot .jackpot-container {
  color: #fff
}

.user-info {
  color: #fff
}

.user-info .user-main-info {
  background: #262626;
  box-shadow: 0 4px 4px 0 #00000040
}

.user-info [data-new-notification="true"]:before {
  background: #fc1818;
  color: #fff
}

.user-info .dropdown-menu {
  color: #fff
}

.hot-match-container .live-streaming-link {
  border-color: #e4ff23;
  color: #fff
}

.user-info .dropdown-menu>li>a:focus,.user-info .dropdown-menu>li>a:hover {
  background: #460289;
  color: #fff
}

.user-info ul li i {
  color: #fff
}

.standard-form-container table {
  color: #858585
}

.standard-form-container table a {
  color: #fff
}

.standard-form-content.btn-primary {
  color: #fff;
  background: #d6ef20;
  background: linear-gradient(to bottom,#d6ef20 0%,#899a10 100%)
}

.popular-games.winners-ticker-container {
  color: #fff;
  background-color: #2a0145
}

.login-panel.login-panel-item {
  background-color: #0a0a0a;
  color: #fff;
  border-color: #888
}

.login-panel .login-button {
  background: #6a6a6a;
  background: linear-gradient(to bottom,#6a6a6a 0%,#484848 100%);
  color: #fff
}

.login-panel .login-button:hover {
  color: #fff;
  background: #484848;
  background: linear-gradient(to bottom,#484848 0%,#6a6a6a 100%)
}

.login-panel .register-button {
  background: #3f0279;
  background: linear-gradient(to bottom,#3f0279 0%,#270140 100%);
  color: #fff
}

.login-panel .register-button:hover {
  color: #fff;
  background: #270140;
  background: linear-gradient(to bottom,#270140 0%,#3f0279 100%)
}

.login-panel .forgot-password-link:hover {
  color: #fff
}

.promotionmodal p {
  color: #fff
}

#filters li span.active {
  background: #5b1699;
  color: #fff
}

#filters li span:hover {
  background: #5b1699;
  color: #fff
}

.portfolio-wrapper h5 {
  color: #fff;
  background: #170826;
  background: linear-gradient(to right,#170826 1%,#3a036e 53%,#170826 100%)
}

.lotterybanner h1,p,h2 {
  color: #fff
}

.standard-reporting-control-group .btn-primary:hover {
  color: #fff;
  background: #97a91a;
  border-color: transparent
}

.standard-reporting-control-group .table tr th {
  background-color: #3f6b6e;
  color: #fff
}

.table-bordered tr th {
  color: #fff;
  background-color: #44016c
}

.desktopReportFooterText {
  background: #44016c;
  color: #fff
}

.desktopReportFooterTotal {
  background: #44016c;
  color: #fff
}

.cd-accordion-menu ul label {
  background: #2a0440;
  color: #fff
}

.ztip-holder {
  background: #25013b;
  color: #fff
}

.ztip-holder.ztip-theme-red {
  background: rgba(238,84,58,.94);
  color: #fff
}

.ztip-holder.ztip-theme-blue {
  background: rgba(68,187,255,.94);
  color: #fff
}

.ztip-holder.ztip-theme-green {
  background: rgba(46,204,113,.94);
  color: #fff
}

.promotion-info {
  background-color: #fff;
  border-color: #101b32;
  color: #fff
}

.deposit-container label,.withdrawal-container label {
  color: #fff
}

.deposit-container .standard-form-note a,.deposit-container .formatted-balance {
  color: #fba501
}

.contact-us-list li a {
  color: #e4ff23
}

.panel-heading.emailbox-heading .panel-tabs>li.active i {
  color: #fca601
}

.panel-heading.emailbox-heading .panel-tabs>li.active>a span {
  color: #fca601
}

.nav-inbox-tabs>li[data-active="true"]>a,.nav-inbox-tabs>li[data-active="true"]>a:hover,.nav-inbox-tabs>li[data-active="true"]>a:focus {
  color: #fca601;
  background-color: #263366
}

.copy-input-button-field .copy-input-button {
  background: none;
  color: #bdd700
}

.copy-input-button-field .copy-input-button:hover {
  color: #e4ff23
}

.deposit-container .bank-info .copy-bank-account-button,.withdrawal-container .bank-info .copy-bank-account-button {
  color: #fff
}

.deposit-container .bank-info .copy-bank-account-button:hover,.withdrawal-container .bank-info .copy-bank-account-button:hover {
  color: #ddd
}

.bank-info {
  background-color: #1b002b;
  background: linear-gradient(to bottom,#1b002b 0%,#25013b 100%)
}

.bank-info hr {
  border-top: 1px solid #1b002b;
  border-bottom: 1px solid #393939
}

.standard-inline-form-group .copy-input-button-field .copy-input-button {
  color: #320050
}

.standard-inline-form-group .copy-input-button-field .copy-input-button:hover {
  color: #e4ff23
}

ul.email-right-header li a {
  color: #404040
}

.inbox-table-header>div:nth-child(3)>ul>li>a {
  color: #404040
}

.standard-reporting-control-group .btn-primary {
  color: #404040;
  background: #e4ff23;
  border-color: transparent
}

.modal-btn:hover,.modal-btn.blank {
  background: #dcdbed;
  color: #808080
}

.confirmation-message-modal #delete.confirm-btn,.confirmation-message-modal .confirm-btn:hover {
  background: #dcdbed;
  color: #808080
}

.modal-btn.blank {
  background: #0c0114;
  color: #808080;
  border-color: #808080
}

.white-panel.emailbox table {
  color: #333
}

.inbox-table-body a {
  color: #333
}

.profile-container .section-heading {
  color: #838383
}

ul#nav .current a,ul#nav li:hover>a {
  color: #333
}

.modal-btn:hover {
  background: #e4ff23;
  color: #333
}

.ztip-holder.ztip-theme-white {
  background: rgba(255,255,255,.94);
  color: #333
}

.withdrawal-container .total-balance {
  color: #919eff;
  border-color: #ccc
}

.withdrawal-container .real-withdrawal-amount,.withdrawal-container .withdrawal-amount input.form-control,.withdrawal-container .withdrawal-amount .currency-suffix {
  color: #e4ff28
}

.standard-side-menu a[data-active="true"],.standard-side-menu a:hover {
  color: #e4ff23;
  background-color: #5401a5
}

.promotions-container .standard-side-menu a[data-active="true"],.promotions-container .standard-side-menu a:hover {
  color: #fff;
  background: linear-gradient(to bottom,#d3ec1f 0%,#8b9c10 100%)
}

.site-info .site-info-title p {
  color: #e4ff23
}

.provider-container>h5 {
  background: #000412;
  color: #e4ff23
}

.hot-match-container .match-info {
  color: #fff
}

.topbar-left-section .topbar-item a {
  color: #7c7c7c;
  border-right-color: #bdbdbd
}

.topbar-left-section .topbar-item .live-chat {
  color: #7c7c7c;
  background: #e3fe24
}

.topbar-left-section .topbar-item a:hover {
  color: #e3fe24
}

.standard-reporting-control-group {
  background: #0c0114;
  color: #858585
}

.replied-message {
  color: #858585;
  border-color: #d6d5d5
}

.standard-form-content.deposit-container {
  background: #12021e;
  color: #838383;
  border-color: #230038
}

.standard-inline-form-group [data-section="input"] {
  background-color: transparent;
  border-color: #230038;
  color: #838383
}

.standard-inline-form-group .bank-info tr td {
  color: #838383
}

.form-control.lowercase.input-validation-error {
  background-color: #12021e;
  border-color: #230038;
  color: #838383
}

a {
  outline: none;
  color: #d8f221
}

a:focus,a:hover {
  color: #838383;
  text-decoration: none
}

.white-panel.emailbox .checkbox:before {
  background-color: #e8e8e8;
  color: #838383;
  border-color: #d6d5d5
}

.text a,.text a:hover {
  background: #e4ff23;
  color: #0c0013;
  background: linear-gradient(to bottom,#e4ff23 0%,#c0d913 47%,#e4ff23 100%)
}

.balance span {
  color: #9fe900
}

.user-info .wallet-container .balance {
  color: #9fe900
}

h4,h5,h6 {
  color: #888
}

.login-panel.login-panel-item::-webkit-input-placeholder,.login-panel.login-panel-item::-moz-placeholder,.login-panel.login-panel-item::-ms-input-placeholder,.login-panel.login-panel-item::-moz-placeholder {
  color: #888
}

.site-info .site-info-description h4 {
  color: #e4ff23
}

.provider-container p {
  color: #e4ff23
}

.jackpot-winners .jackpot-winner-title {
  color: #e4ff23
}

.login-panel {
  color: #e4ff23
}

.popular-game-list .free-play {
  background: linear-gradient(to bottom,#6b6b6b 0%,#404040 100%);
  color: #fff;
  border: none
}

.popular-game-list .free-play:hover {
  color: #fff;
  background: linear-gradient(to bottom,#404040 0%,#6b6b6b 100%);
  border: none
}

.popular-game-list .play-now {
  background: #e4ff23;
  color: #330460;
  border: none
}

.popular-game-list .play-now:hover {
  background: #330460;
  color: #e4ff23;
  border: none
}

.footer-links ul>li>a:hover {
  color: #e4ff23
}

.register-done-container>a {
  color: #fff;
  background-color: #3f0278
}

.register-done-container>h2 span {
  color: #e4ff23
}

.register-done-container>h3 span {
  color: #e4ff23
}

.register-done-container .btn-deposit {
  background: #270140;
  background: linear-gradient(to top,#270140 0%,#3f0279 100%)
}

.register-done-container .btn-deposit:hover {
  background: #270140;
  background: linear-gradient(to bottom,#270140 0%,#3f0279 100%)
}

.register-done-container .buttons-container-register-done .btn {
  border-color: #e4ff23;
  color: #fff
}

.register-done-container .buttons-container-register-done .btn:hover {
  border-color: transparent;
  background-color: #6a6a6a;
  background: linear-gradient(to bottom,#6a6a6a 0%,#484848 100%)
}

.register-done-container .register-verification-done {
  border-color: #e4ff23;
  background: #5a650d
}

.register-done-container .register-verification-done .info {
  color: #e4ff23;
  border-color: #e4ff23
}

.register-done-container .register-verification-done a {
  color: #e4ff23
}

.slot-jackpot-container .progressive-jackpot span {
  color: #e4ff23
}

.site-info .site-info-title h3 {
  color: #e4ff23
}

.standard-form-content .contact-us-list {
  color: #e4ff23
}

.standard-form-container>li.active>a span {
  color: #e4ff23
}

.popular-games [data-section="left"] .section-title {
  background-color: #25013d;
  color: #e4ff23
}

.home-jackpot-container .jackpot-container span {
  color: #e4ff23
}

.expiration-countdown-container h6.active {
  color: #e4ff23
}

.expiration-countdown-container small.active {
  color: #e4ff23
}

.progressbar {
  background-color: #0a0909 !important
}

.proggress {
  background-color: #e4ff23 !important
}

.site-info-description.with-seperator+.with-seperator.support-container ul li a i {
  background: #181819;
  color: #e4ff23
}

.site-info-description .progress {
  background: #e4ff23
}

.site-info-description .progressbar {
  background-color: #0a0909
}

.separate p {
  color: #e4ff23
}

.site-info-container-site-info h5 {
  color: #e4ff23
}

.provider-container span h5 {
  color: #e4ff23
}

.match-info .match-teams span {
  color: #e4ff23
}

.site-info .site-info-description p {
  color: #666
}

.site-description {
  border-top-color: #3f3d41;
  border-bottom-color: #3f3d41;
  color: #666
}

.site-info-description {
  color: #666
}

.site-description p {
  color: #3f3d41
}

.site-description h1,.site-description h2,.site-description a,.site-description div {
  color: #3f3d41
}

.site-info-description.with-seperator+.with-seperator.support-container ul li a {
  color: #3f3d41
}

.modal-dialog h5,.modal-dialog p,.modal-dialog ol li {
  color: #9d9d9d
}

.modal-dialog .modal-body {
  color: #9d9d9d
}

.standard-form-note {
  background-color: #320050;
  color: #fff
}

.site-description h3 {
  color: #909090
}

.site-info .site-info-title {
  border-bottom: 1px dotted #363538
}

.forgot-password-warning {
  background: #40027c;
  color: #e0ff00
}

.home-info-container .announcement-container {
  background: #40027e
}

.home-info-container .tickercontainer {
  background: #280142
}

.announcement-container .announcement-list li {
  color: #e4ff23
}

ul#nav li:hover>ul {
  background-color: rgba(23,3,36,.79);
  border-bottom-color: #e4ff23;
  border-top-color: #460289
}

li.navigation1:hover:after,li.active.navigation1:after,li.navigation2:hover:after,li.active.navigation2:after,li.navigation3:hover:after,li.active.navigation3:after,li.navigation4:hover:after,li.active.navigation4:after,li.navigation5:hover:after,li.active.navigation5:after,li.navigation6:hover:after,li.active.navigation6:after,li.navigation7:hover:after,li.active.navigation7:after,li.navigation8:hover:after,li.active.navigation8:after {
  background: #e4ff23
}

.profile-container .mobile-info-button:hover {
  border-color: #5402a5;
  background: #5402a5
}

.user-info-item .open {
  border-color: #00031c
}

.user-info .dropdown-menu>li>a {
  background-color: #25013b;
  color: #fff
}

.topbar-item.language-selector-container ul {
  background-color: #000629
}

.topbar-item.language-selector-container ul li {
  border-bottom: 1px solid #fff;
  background-color: #25013b
}

.hot-match-container .live-streaming-link:hover {
  border-color: #e4ff23;
  color: #180126;
  background-color: #e4ff23
}

.promotion-item .click-for-get-promo-button {
  background: #d3ec1f;
  background: linear-gradient(to bottom,#d3ec1f 0%,#8b9c10 100%);
  color: #fff
}

.promotion-item .click-for-get-promo-button:hover {
  background: #8b9c10;
  background: linear-gradient(to bottom,#8b9c10 0%,#d3ec1f 100%)
}

.promotion-item-details {
  background-color: rgba(12,1,20,.6)
}

.promotion-item-details .click-for-get-promo-button {
  background: #d3ec1f;
  background: linear-gradient(to bottom,#d3ec1f 0%,#8b9c10 100%)
}

.promotion-item-details .click-for-get-promo-button:hover {
  background: #8b9c10;
  background: linear-gradient(to bottom,#8b9c10 0%,#d3ec1f 100%)
}

.popular-games .scrtabs-tab-scroll-arrow {
  background-color: #e4ff23
}

.popular-game-list .game-name {
  background: #170926;
  background: linear-gradient(to right,#170926 0%,#3d0376 46%,#170926 100%)
}

.bonus-slider-modal .modal-dialog .modal-header .close {
  background-color: #fff;
  color: #000
}

.bonus-slider-modal .modal-dialog .modal-header {
  border-color: #e5e5e5;
  background-color: #1b002b
}

.bonus-slider-modal .modal-content {
  background-color: #1b002b;
  border-color: #12021e
}

.bonus-slider-modal .close-button {
  background-color: #454545
}

.bonus-slider-modal .close-button:hover {
  background-color: #3e3e3e
}

.bonus-slider-modal .bonus-form {
  background-color: #25013b;
  color: #dad9d9;
  box-shadow: 0 0 15px rgba(0,0,0,.2);
  border-top: 2px solid #e4ff23
}

.bonus-controls-field .bonus-control-button {
  background-color: #e4e4e4;
  color: #525252
}

.bonus-controls-field .bonus-amount {
  background-color: #0e0e0e;
  color: #e4ff23
}

.bonus-range .bubble {
  color: #fff;
  border-color: #e4ff23;
  background: #1b002b
}

.bonus-range .bubble::before {
  border-color: rgba(233,154,1,0);
  border-top-color: #e4ff23
}

.bonus-range .bubble::after {
  border-color: rgba(14,14,14,0);
  border-top-color: #0e0e0e
}

.claim-container {
  background: #190428
}

.claim-info-modal h4 {
  color: #e4ff23
}

.claim-item .claim-button {
  background-color: #ff9702;
  background: linear-gradient(to right,#ff9702 0%,#fdc734 45%,#ff9702 100%)
}

.claim-item .claim-button:hover,.claim-item .activation-button:hover,.claim-item .cancellation-button:hover,.claim-item .expiration-button:hover {
  background-color: #7800eb
}

.contact-us-list li h6 {
  color: #787878
}

.deposit-container .bank-info {
  background-color: #d8d8d8
}

.banner {
  background-color: #070707
}

.banner .carousel-indicators .active,.banner .carousel-indicators .slick-active {
  background-color: #e4ff23;
  border-color: #e4ff23
}

.home-info-container,.telegram-banner-container {
  background: #000418;
  border-color: #4a0776
}

.popular-games {
  background-color: #0c0114
}

.popular-games .nav-tabs>li>a {
  background-color: #1b072f
}

.popular-games .nav-tabs>li.active>a,.popular-games .nav-tabs>li.active>a:hover .popular-games .nav-tabs>li.active>a:focus,.popular-games .nav-tabs>li>a:hover {
  background-color: #2a064d
}

.popular-games .tab-pane {
  background-color: #050e2d
}

.scrtabs-tab-container {
  background-color: #e4ff23
}

.scrtabs-tabs-fixed-container {
  color: #3a1a3e
}

.lottery-result-container {
  background-color: #3e0277
}

.lottery-result-container .lottery-result-title {
  background-color: #280141
}

.lottery-result-container .lottery-result {
  background-color: #3e0277
}

.lottery-result-container .lottery-number {
  background-color: #0c0213
}

.sports-matches-container {
  background-color: #0c0114;
  color: #fff
}

.sport-match-item .match-date {
  background-color: #180226
}

.sport-match-item .match-info-container {
  background-color: #2e0249
}

.sport-match-item .match-teams>span {
  color: #e4ff23
}

.sport-match-item:nth-child(even) .match-date {
  background-color: #2e0249
}

.sport-match-item:nth-child(even) .match-info-container {
  background-color: #180226;
  color: #fff
}

.sport-match-item {
  background-color: #1f1f1f;
  color: #fff
}

.panel-primary>.panel-heading.emailbox-heading {
  background-color: #263366;
  border-color: #337ab7
}

.panel-heading.emailbox-heading .panel-tabs>li>a {
  border-color: #263366
}

.panel-heading.emailbox-heading .panel-tabs>li.active>a {
  border-bottom: 5px solid #fca601
}

.panel-heading.emailbox-heading .panel-tabs>li.active>a,.panel-heading.emailbox-heading .panel-tabs>li.active>a:hover,.panel-heading.emailbox-heading .panel-tabs>li.active>a:focus {
  background-color: transparent
}

ul.email-right-header li a:hover {
  background: #bababa
}

ul.email-right-header li.active a {
  background: #bababa
}

.white-panel.emailbox .panel {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
  box-shadow: 0 1px 1px rgba(0,0,0,0)
}

.paging-input {
  border-color: #b5b5b7;
  background: #f2f2f4
}

.inbox-table-header>div:nth-child(3)>ul>li>a:hover {
  background: #bababa
}

.inbox-table-header div {
  border-color: #d6d5d5
}

.inbox-table-body div {
  border-color: #d6d5d5
}

.replied-message[data-creator="true"] .replied-message-content {
  background-color: #becbfd
}

.confirmation-message-modal .modal-header {
  background-color: #320050;
  border-color: #bababa
}

.confirmation-message-modal .modal-body {
  background-color: #12021e
}

.message-table label {
  color: #67079d
}

.message-table .created-date:first-child {
  color: #67079d
}

.message-table .message-column {
  color: #67079d
}

.message-table a,.message-table a:hover {
  color: #67079d
}

.modal-dialog .modal-header .close {
  color: #fff
}

.mobile-app-container .logo-container {
  background-color: #320050
}

.mobile-app-container .link-container a:hover {
  background-color: #ddd
}

.mobile-app-container .nav-tabs>li>a {
  border-right-color: #0c0113
}

.mobile-app-container .nav-tabs>li.active>a,.mobile-app-container .nav-tabs>li.active>a:hover,.mobile-app-container .nav-tabs>li.active>a:focus {
  background-color: #320050;
  color: #e4ff23
}

.mobile-app-container .tab-pane .note {
  color: #f00
}

.mobile-app-container .tab-pane .important {
  color: #ff9600
}

.mobile-app-container .tab-pane h3 {
  color: #fff
}

.mobile-app-container .panel-body {
  background: #0f0f0f
}

.poker-game-types {
  background: rgba(106,0,168,.35);
  border-color: #2d0154
}

.poker-game-types ul li p {
  color: #fff
}

.profile-container .download-link-container a:hover {
  background-color: #ddd
}

.profile-container .mobile-info-button {
  border-color: transparent
}

.promotions-container {
  background-color: rgba(12,1,20,.6)
}

.promotions-container .promotion-list {
  background: rgba(12,1,20,.6)
}

.promotion-list {
  background-color: rgba(45,62,128,.2)
}

.promotion-item img {
  border-color: #5401a5
}

.register-done-container>h2 {
  color: #8535d3
}

.register-done-container>img {
  background-color: transparent
}

.slots-games-container,.casino-games-container {
  background-color: #0c1740
}

.slots-games-container .filter-section,.casino-games-container .filter-section {
  background-color: #5b1699
}

.slots-games-container .category-filter-link.active,.slots-games-container .category-filter-link:hover,.casino-games-container .category-filter-link.active,.casino-games-container .category-filter-link:hover {
  background: linear-gradient(to right,#170826 1%,#3a036e 53%,#170826 100%)
}

.slot-jackpot-container {
  background-color: #1f0230
}

.sports-container {
  background: #0b0b0b
}

.sports-container [data-section="matches"] {
  color: #fff
}

.withdrawal-container .bank-info {
  background-color: #d8d8d8
}

[data-container-background="sports"] {
  background-color: #000312
}

[data-container-background="casino"] {
  background-color: #0c0114
}

[data-container-background="slots"] {
  background-color: #03071b
}

[data-container-background="poker"] {
  background-color: #0c0114
}

[data-container-background="others"] {
  background-color: #010717
}

[data-container-background="promotions"] {
  background-color: #0a0a0a
}

.info-center {
  background-color: #25013b
}

.info-center-content {
  background-color: #10011b
}

.info-center-content-title {
  background-color: #320050;
  color: #fff
}

.topbar-container {
  background: #0f0f0f
}

.topbar-left-section .topbar-item a.live-chat:hover {
  color: #daf22c;
  background: #7c7c7c
}

.topbar-left-section .language-selector {
  background-color: #000629
}

.site-header {
  background: #25013b;
  border-color: #460289
}

.top-menu>li {
  color: #adbed2
}

.site-header .top-menu .game-list {
  border-top-color: #460289;
  background-color: rgba(23,3,36,.79);
  border-bottom-color: #e4ff23
}

.site-footer {
  border-top-color: #4a0776;
  background: #000
}

.footer-links>li>a:hover {
  color: #e4ff23
}

.footer-separator {
  border-top-color: #3f3d41
}

.site-description h3 {
  color: #b8c5d5
}

.site-info-container:not(:last-child):after {
  background-color: #3f3d41
}

.site-info .site-info-title {
  border-bottom-color: #3f3d41
}

.site-info .site-info-description.with-seperator+.with-seperator {
  border-top-color: #3f3d41
}

.bank-list>[data-online='true']:before {
  background-color: #0f0
}

.bank-list>[data-online='false']:before {
  background-color: #e00
}

.contact-list>li [data-contact-type] {
  background: #51c332
}

.contact-list>li [data-contact-type='fa-yahoo'] {
  background: #28920a
}

.contact-list>li [data-contact-type='fa-skype'] {
  background: #1f6a94
}

.standard-form-container {
  background: #0c0114
}

.standard-form-container>ul {
  background-color: #320050;
  border-color: #320050
}

.standard-form-content .form-group {
  background: #140320;
  color: #67079d
}

.standard-form-content.btn-primary:hover {
  background: #899a10;
  background: linear-gradient(to bottom,#899a10 0%,#d6ef20 100%)
}

.standard-form-container .messaging-side-menu {
  background-color: #320050
}

.standard-form-container .messaging-side-menu [data-active="true"] a {
  color: #e2fd5c;
  border-color: #e2fd5c
}

.standard-form-container .messaging-side-menu .support-ticket>a {
  background-color: #6600a4
}

.info-center-content .standard-side-menu a,.standard-form-container .standard-side-menu a {
  background-color: #320050;
  color: #fff
}

.info-center-content .standard-side-menu a:hover,.standard-form-container .standard-side-menu a:hover,.info-center-content .standard-side-menu a[data-active="true"] {
  color: #e4ff23;
  background-color: #5401a5
}

.info-center-content h1,.info-center-content h2,.info-center-content h3,.info-center-content h4,.info-center-content h5,.info-center-content h6,.info-center-content li {
  color: #fff
}

.info-center-content div a {
  color: #e4ff23
}

.panel-default {
  border-color: #242424;
  background-color: #111;
  color: #fff
}

.panel-default>.panel-heading {
  background-color: #320050;
  border-color: #320050
}

.panel-default>.panel-heading a {
  color: #e4ff23
}

.standard-form-container>li.active>a,.standard-form-container>li.active>a:hover,.standard-form-container>li.active>a:focus {
  background-color: transparent;
  border-bottom-color: #e4ff23
}

.standard-form-container>li>a:hover {
  border-bottom-color: #e4fe24;
  color: #e4fe24;
  background-color: transparent
}

.standard-inline-form-group [data-section="asterisk"] {
  color: #f00
}

.standard-inline-form-group .bank-info {
  background-color: #0c0114
}

.standard-inline-form-group .captcha-container {
  background-color: transparent
}

.standard-inline-form-group .captcha-container:after {
  border-color: rgba(136,183,213,0);
  border-right-color: #330b50
}

.register-page-reminder {
  color: #858585
}

.register-page-reminder a {
  color: #d6ef20
}

.standard-form-content .register-page-link a {
  color: #d6ef20
}

.form-control,.mobile-app-container .mobile-app-select {
  border-color: #320050;
  background: #12021e;
  color: #ccc
}

.mobile-app-container .mobile-app-select .active a,.mobile-app-container .mobile-app-select a:hover {
  border-radius: initial;
  background-color: #91a212;
  border: 0
}

.standard-button-group .btn-primary,.deposit-container .reveal-bank-account-button {
  color: #000;
  background: #e4ff23;
  background: linear-gradient(to bottom,#e4ff23 0%,#9db20a 100%);
  border-color: #e4ff23
}

.standard-button-group .btn-primary:hover,.deposit-container .reveal-bank-account-button:hover {
  background: #9db20a;
  background: linear-gradient(to bottom,#9db20a 0%,#e4ff23 100%)
}

.standard-button-group .btn-primary {
  color: #fff
}

.expiration-countdown [data-section] {
  background-color: #404040;
  color: #e4ff23;
  border-left-color: #6b6b6b
}

.game-list-title>div {
  background-color: inherit;
  color: #edeff6
}

.game-list-title,.game-list {
  background-color: #02071c
}

.game-list {
  border-color: #0c1740
}

.game-list .game-item {
  background-color: #5b1699
}

.game-list .wrapper-container:hover {
  background: #000
}

.large-game-list-container ul {
  border-bottom-color: #151515;
  background-color: #0e0e0e
}

.jackpot-winners {
  background: linear-gradient(to bottom,#280141 0%,#430283 46%,#280141 100%)
}

.jackpot-winners .winners-ticker-container {
  border-color: #020a2a;
  background: linear-gradient(to bottom,#1b072e 0%,#39036f 46%,#1b072e 100%)
}

.popular-games.jackpot-winners {
  background: #280141;
  background: linear-gradient(to bottom,#280141 0%,#430283 46%,#280141 100%)
}

.popular-games.winners-ticker-container ul li {
  background: #1b072e;
  background: linear-gradient(to bottom,#1b072e 0%,#39036f 46%,#1b072e 100%)
}

.winners-ticker ul li .winner-amount {
  color: #f8a201
}

.login-panel input[type=text],.login-panel input[type=password] {
  background-color: #0f0f0f;
  border-color: #888;
  color: #fff
}

.login-panel-item .forgot-password-link a {
  color: #ff0c0c
}

.progressive-jackpot .jackpot-currency {
  color: #03ffd8
}

.user-info .wallet-container .locked-balance {
  background: #3d3d3d;
  color: #9fe900
}

.ztip-holder.ztip-position-top .zt-arrow {
  border-top-color: rgba(40,40,48,.94)
}

.ztip-holder.ztip-position-bottom .zt-arrow {
  border-bottom-color: rgba(40,40,48,.94)
}

.ztip-holder.ztip-theme-red.ztip-position-top .zt-arrow {
  border-top-color: rgba(238,84,58,.94)
}

.ztip-holder.ztip-theme-red.ztip-position-bottom .zt-arrow {
  border-bottom-color: rgba(238,84,58,.94)
}

.ztip-holder.ztip-theme-red code {
  background: rgba(242,125,105,.94)
}

.ztip-holder.ztip-theme-blue.ztip-position-top .zt-arrow {
  border-top-color: rgba(68,187,255,.94)
}

.ztip-holder.ztip-theme-blue.ztip-position-bottom .zt-arrow {
  border-bottom-color: rgba(68,187,255,.94)
}

.ztip-holder.ztip-theme-blue code {
  background: rgba(119,206,255,.94)
}

.ztip-holder.ztip-theme-green.ztip-position-top .zt-arrow {
  border-top-color: rgba(46,204,113,.94)
}

.ztip-holder.ztip-theme-green.ztip-position-bottom .zt-arrow {
  border-bottom-color: rgba(46,204,113,.94)
}

.ztip-holder.ztip-theme-green code {
  background: rgba(84,217,140,.94)
}

.ztip-holder.ztip-theme-white.ztip-position-top .zt-arrow {
  border-top-color: rgba(255,255,255,.94)
}

.ztip-holder.ztip-theme-white.ztip-position-bottom .zt-arrow {
  border-bottom-color: rgba(255,255,255,.94)
}

.ztip-holder.ztip-theme-white code {
  background: rgba(255,255,255,.94)
}

.ztip-holder.ztip-theme-white {
  box-shadow: 0 0 0 1px rgba(0,0,0,.25)
}

.ztip-holder.ztip-theme-white .zt-arrow {
  border-color: transparent;
  box-shadow: 1px 1px 0 0 rgba(0,0,0,.25);
  background: inherit
}

.ztip-holder.ztip-theme-white code {
  background: rgba(230,230,230,.94)
}

.ztip-holder code {
  color: inherit;
  background: rgba(63,63,76,.94)
}

.percentCount {
  color: #8ba7aa
}

.home-jackpot-container {
  background: #0c0114
}

.home-progressive-jackpot {
  background-image: linear-gradient(#0d0119,#40027e,#0d0119)
}

.home-progressive-jackpot .inner-container {
  background-image: linear-gradient(#28014f,#220043)
}

.home-progressive-jackpot .border-container {
  border-color: #5c07b1
}

.home-progressive-jackpot .jackpot-container {
  background-image: linear-gradient(#9d3bff,#220043)
}

.home-progressive-jackpot .jackpot-border-container {
  border-color: #7d00fa
}

.home-progressive-jackpot .jackpot-currency {
  color: #9d3bff
}

.promotionmodal .modal-header .close {
  color: #dcf621
}

#filters {
  background-color: #3a026d
}

div#portfoliolist {
  text-align: center;
  background-color: #120520
}

.portfolio-wrapper {
  background-color: #25013d
}

.searchbox1 {
  background: #130024
}

.promotion-list .promotion-info {
  background: #06000a
}

.large-game-list-container,.large-game-list {
  background-color: #09000e;
  border-color: #1f0031
}

.site-info-container {
  background-color: #000
}

.site-info-description.with-seperator+.with-seperator {
  border-top-color: #363538
}

.percentCount {
  color: #737373
}

.claim-progress-info .bonus-progress {
  background: #0a0909
}

.provider-container {
  border-color: #3a383c
}

.provider-container span {
  background: #0f0f0f
}

.standard-reporting-control-group .table {
  background-color: #12021e
}

.table-bordered tbody {
  background-color: #f2f2f3
}

.cd-accordion-menu label {
  background: #44016c
}

.ClaimTime {
  background: #242424
}

.large-game-list {
  background-color: rgba(9,0,14,.7)
}

.link-container a.game-info,.game-info {
  color: #470783;
  border-color: #470783
}

.link-container a.game-info:hover,.link-container a.game-info:focus,.game-info:hover,.game-info:focus {
  border-color: #e2fd5c;
  color: #e2fd5c
}

.provider-page .large-game-list-container,.provider-info {
  background-color: #0e0e0e
}

.game-provider-desc-arcade,.game-provider-desc-sport,.game-provider-desc-crash-game,.game-provider-desc,.provider-info h5,.provider-info p {
  color: #858585
}

.contact-list>li a {
  background: #0a0a0a;
  color: #e4ff23;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-left: 20px
}

.contact-list>li a i {
  background: #5a2096
}

.modal-content {
  background: #0c0c0c;
  border-color: #0c0c0c;
  color: #bbb
}

.modal-header {
  border-bottom-color: #333
}

.modal-content h4,.download-popup-modal .modal-header .modal-title {
  color: #8f00e6
}

.modal-header .close {
  opacity: 1;
  margin: 0;
  color: #fff
}

.modal-body p {
  color: #bbb
}

.modal-footer {
  border-top-color: #2b2b2b
}

.modal-footer .btn-secondary {
  background: none;
  color: #838383
}

.modal-footer .btn-secondary:hover {
  color: #e4ff23
}

.modal-footer .btn-primary {
  color: #000;
  background: #e4ff23;
  background: linear-gradient(to bottom,#e4ff23 0%,#9db20a 100%)
}

.modal-footer .btn-primary:hover {
  background: #9db20a;
  background: linear-gradient(to bottom,#9db20a 0%,#e4ff23 100%)
}

.referral-box-container .referral-box {
  background-color: #320050;
  border-bottom: 1px solid #e4ff23
}

.referral-box-container .referral-box span {
  color: #e4ff23
}

.referral-box-container .referral-box h4 {
  color: #fff
}

.referral-box-container .referral-box .referral-box-icon {
  background: #97a91a
}

.referral-code-container {
  border: 1px dashed #3f3d41
}

.referral-box a,.referral-code-container a,.change-referral-code a {
  color: #e4ff23
}

.referral-box a:hover,.referral-code-container a:hover,.change-referral-code a:hover {
  color: #919eff
}

.referral-container .form-control[readonly] {
  border-color: transparent;
  background-color: #1b002b;
  color: #838383
}

.referral-section .referral-code-copy-btn {
  background: #97a91a
}

.referral-section .referral-code-copy-btn img {
  filter: invert(0)
}

.referral-section .referral-code-copy-btn span {
  color: #fff
}

.referral-section .referral-social-media-container .referral-social-media button {
  filter: invert(100%) invert(81%) sepia(85%) saturate(432%) hue-rotate(11deg) brightness(100%) contrast(109%)
}

.referral-section .referral-code-container {
  border: 1px dashed #97a91a
}

.user-info .dropdown-menu.vendor-balances-container {
  background-color: rgba(0,0,0,.85)
}

.user-info .vendor-balances-container .vendor-balances-header,.user-info .vendor-balances-container strong {
  color: #8f00e6
}

.user-info .vendor-balances-container .vendor-balances-header {
  border-bottom: 2px solid #8f00e6
}

.user-info .vendor-balances-container {
  border: 3px solid #8f00e6
}

.table .table {
  background-color: #12021e
}

.standard-form-container table a:hover {
  color: #838383
}

.play-now {
  background: #e4ff23;
  color: #330460;
  border: none
}

.play-now:hover {
  background: #330460;
  color: #e4ff23;
  border: none
}

.free-play {
  background: linear-gradient(to bottom,#6b6b6b 0%,#404040 100%);
  color: #fff;
  border: none
}

.free-play:hover {
  color: #fff;
  background: linear-gradient(to bottom,#404040 0%,#6b6b6b 100%);
  border: none
}

.download-apk {
  color: #fff
}

.download-apk-section i {
  color: #e4ff24
}

.download-apk .btn {
  color: #fefefe;
  background: #faa302;
  background: linear-gradient(to bottom,#e4ff24 0%,#8ea00e 100%);
  border: none
}

.download-apk .btn:hover {
  color: #fefefe
}

.tab-content-container {
  background-color: #1b002b
}

.top-tab-container {
  border-bottom: 2px solid #320050
}

.top-tab-container a {
  color: #fff;
  background-color: #1b002b
}

.top-tab-container a[data-active="true"],.top-tab-container a:hover {
  color: #e4ff23;
  background-color: #320050
}

.standard-form-content {
  background-color: #12021e;
  color: #f5f5f5
}

.standard-form-note span {
  color: #d6ef20
}

.standard-form-note strong {
  color: #d6ef20
}

.standard-form-link-header a {
  background-color: #25013b
}

.standard-form-link-header a[data-active="false"]:hover {
  background-color: #38015a;
  color: #fff
}

.standard-form-link-header a[data-active="true"] {
  background-color: #490076
}

.standard-inline-form-group [data-section="input"] {
  color: #fff
}

.standard-side-menu .menu-section hr {
  border-color: #460289
}

.standard-side-menu .menu-section a:hover,.standard-side-menu .menu-section a:focus,.standard-side-menu .menu-section a[data-active="true"] {
  background-color: #320050;
  color: #e4ff23
}

.standard-side-menu,.standard-side-menu .menu-section {
  background-color: #1b002b
}

.standard-side-menu .player-account-section {
  background-color: #320050
}

.standard-side-menu .player-account-section .username {
  color: #bdd700
}

.deposit-amount-container .real-deposit-amount,.deposit-amount-container .deposit-amount .currency-suffix,.deposit-amount-container .deposit-amount input.form-control {
  color: #bdd700
}

.deposit-amount-container .deposit-amount .currency-label,.withdrawal-container .withdrawal-amount .currency-label {
  color: #fff
}

.deposit-amount-container .real-deposit-amount:before {
  color: #fff
}

.deposit-container .standard-form-note a,.deposit-container .formatted-balance {
  color: #bdd700
}

.casino-games-container .vendor-name {
  background-color: #330460
}

.arcade-games-container,.crash-game-games-container {
  background-color: #330460
}

.arcade-games-container .filter-section,.crash-game-games-container .filter-section {
  background-color: #5b1699
}

.arcade-games-container .category-filter-link.active,.arcade-games-container .category-filter-link:hover,.crash-game-games-container .category-filter-link.active,.crash-game-games-container .category-filter-link:hover {
  background: linear-gradient(to right,#170826 1%,#3a036e 53%,#170826 100%)
}

.standard-content-info table {
  border: 1px solid #320050
}

.standard-content-info table>thead>tr>th {
  background-color: #320050
}

.standard-content-info {
  border: 1px solid #320050
}

.standard-content-info .standard-content-block {
  background-color: #320050
}

.standard-content-info h2 {
  color: #9b62d4
}

.standard-profile-bar {
  background-color: #320050;
  color: #fff
}

.standard-profile-bar .user-field div .username {
  color: #9b62d4
}

.standard-profile-bar .referral-code-container {
  border: 1px dashed #9b62d4;
  background-color: #1b002b;
  color: #9b62d4
}

.bank-info-block {
  background-color: #3e3e3e;
  color: #fff
}

.bank-info-block hr {
  border-top: 1px solid #2e2e2e;
  border-bottom: 1px solid #434343
}

.bank-info-container .carousel-indicators .active,.bank-info-container .carousel-indicators li:hover {
  background-color: #bdd700
}

.claim-filter-container select.form-control {
  color: #e4ff23;
  background-color: #320050;
  border-color: #fff
}

.messaging-side-menu {
  background-color: #320050;
  color: #fff
}

.messaging-side-menu [data-active="true"] a {
  color: #bdd700;
  border-color: #bdd700
}

.messaging-side-menu .support-ticket>a {
  background-color: #584593
}

.provider-slide {
  background-color: #e4ff23
}

.provider-slide>i {
  background-color: rgba(255,255,255,.1);
  color: #5b1699
}

.provider-slide>i:hover {
  background-color: rgba(255,255,255,.25)
}

.provider-slide>main>.slide-item {
  background-color: rgba(255,255,255,.1)
}

.provider-slide>main>.slide-item>a:not(.game-info) {
  background-color: #0d0a12
}

.provider-slide>main>.slide-item>a:not(.game-info):hover {
  background-color: #250048;
  background: #250048
}

.provider-slide>main>.slide-item h5 {
  color: #fff
}

.otp-hr {
  border-color: #e4ff23
}

.request-otp-button,.request-otp-button:hover,.contact-verification-link,.contact-verification-link:hover {
  border-color: #e4ff23;
  color: #e4ff23
}

.otp-input {
  border-color: #320050
}

.home-game-list-container .container-title span {
  color: #fff;
  background-color: #320050
}

.home-game-list-container .container-title span:after {
  background-color: #320050
}

.home-game-list-container .container-content {
  border: 1px solid #320050
}

.home-game-list-container .container-content .game-list .game-item .game-name {
  color: #e4ff23;
  background-image: none
}

.home-game-list-container .container-content .game-list::-webkit-scrollbar-thumb {
  background: #58585a
}

.standard-form-content .offline-container,.standard-form-content .offline-container h3,.standard-form-content .offline-container h4 {
  color: #fff
}

.grid-totals {
  background-color: #3f1d5f;
  color: #fff
}

.payment-method-selection input[type="radio"]:checked+label {
  background-color: #d6ef20;
  background-image: linear-gradient(to bottom,#d6ef20 0%,#899a10 100%)
}

.withdrawal-container .formatted-balance {
  color: #e4ff28
}

[data-payment-gateway] {
  background-color: #222
}

div[data-payment-gateway] h4 {
  color: #bbb
}

[data-payment-gateway="va"] h5 span {
  background-color: #222
}

[data-payment-gateway="qris"] .qris-qr-code-container a {
  background: #d6ef20
}

.notification-tabs .notification-tab-item {
  background-color: #242424
}

.notification-tabs .notification-tab-item[data-active="true"] {
  background-color: #d6ef20;
  background-image: linear-gradient(to bottom,#d6ef20 0%,#899a10 100%)
}

.unread-announcements-popup {
  border-color: #8f00e6
}

.unread-announcements-popup:before {
  border-bottom-color: #8f00e6
}

.notification-popup-body .notification-footer {
  background-color: #8f00e6;
  background-image: linear-gradient(to bottom,#8f00e6 0%,#470072 100%);
  border-top-color: #8f00e6
}

.notification-popup-body .notification-footer a {
  color: #fff
}

.standard-section-title:before {
  background-color: #d6ef20
}

.loyalty-history-list .loyalty-history-item {
  background-color: #25013b
}

.loyalty-container .standard-form-note {
  background-color: #320050
}

.mission-container .mission-item[data-status="claimable"] .mission-action-container .action-button {
  background-color: #d6ef20;
  background-image: linear-gradient(to bottom,#d6ef20 0%,#899a10 100%);
  color: #fff
}

.mission-container .mission-item[data-status="claimable"] .mission-action-container .action-button:hover {
  background-color: #899a10;
  background-image: linear-gradient(to bottom,#899a10 0%,#d6ef20 100%)
}

.daily-reward-container {
  background-color: #1d1028
}

.daily-reward-container .standard-secondary-button {
  background-color: #d6ef20;
  background-image: linear-gradient(to bottom,#d6ef20 0%,#899a10 100%)
}

.daily-reward-container .standard-secondary-button:hover {
  background: #899a10;
  background: linear-gradient(to bottom,#899a10 0%,#d6ef20 100%)
}

.benefit-container .benefit-list .benefit-card {
  background-color: #1b002b;
  border-color: #391f4f
}

.loyalty-daily-reward-modal .modal-content,.loyalty-available-rank-up-modal .modal-content {
  background-color: #1d1028
}

.loyalty-available-rank-up-modal .standard-secondary-button {
  background: #d6ef20;
  background: linear-gradient(to bottom,#d6ef20 0%,#899a10 100%);
  border: none
}

.loyalty-available-rank-up-modal .standard-secondary-button:hover {
  background: #899a10;
  background: linear-gradient(to bottom,#899a10 0%,#d6ef20 100%)
}

.introjs-tooltip-title {
  color: #fff
}

.introjs-tooltiptext .subtitle {
  color: #d6ef20
}

.introjs-nextbutton {
  background-image: linear-gradient(to bottom,#d6ef20,#899a10);
  color: #fff
}

.introjs-nextbutton:hover {
  background-image: linear-gradient(to bottom,#899a10,#d6ef20);
  color: #fff
}

.introjs-bullets ul li a {
  background-color: #626f08
}

.introjs-bullets ul li a.active,.introjs-bullets ul li a:hover {
  background-color: #d6ef20
}

.introjs-skipbutton,.introjs-skipbutton:hover {
  color: #d6ef20
}

.how-it-works-container .how-it-works-section .how-it-works-section-title {
  color: #d6ef20
}

.referral-features .referral-features-item .feature-icon>div {
  background: linear-gradient(to bottom,#d6ef20 0%,#899a10 100%)
}

.referral-features .referral-features-item .feature-info p {
  color: #d6ef20
}

.referral-verification-container input.form-control {
  border-color: #320050
}

.simple-form-note,.referral-verification-container .standard-form-note,.standard-form-note.with-icon>div:last-child p {
  color: #d6ef20
}

.referral-verification-container .terms-conditions-container ol {
  border-bottom-color: #333
}

.pending-verification-container .icon-container {
  background-color: #d6ef20
}

.pending-verification-container p {
  color: #d6ef20
}

.referral-verification-container .verification-footer .line {
  background-color: #333
}

.referral-verification-container [data-is-contact-verified="false"] .profile-link {
  background: linear-gradient(to bottom,#d6ef20 0%,#899a10 100%)
}

.referral-verification-container [data-is-contact-verified="false"] .profile-link:hover {
  background: linear-gradient(to bottom,#899a10 0%,#d6ef20 100%)
}

.popular-game-title-container .container-title span {
  color: #fff;
  background-color: #320050
}

.popular-game-title-container .container-title span:after {
  background-color: #320050
}

.popular-game-title-container .container-content {
  border: 1px solid #320050
}

.popular-game-title-container .container-content .game-list .game-item .game-name {
  color: #e4ff23;
  background-image: none
}

.popular-game-title-container .container-content .game-list::-webkit-scrollbar-thumb {
  background: #58585a
}

.deposit-container .deposit-form-group .head a,.withdrawal-container .withdrawal-form-group .head a {
  color: #67079d
}

.deposit-amount-container input[type="text"],.deposit-container input.input-validation-error {
  background-color: #12021e;
  border: 1px solid #320050
}

.deposit-summary-container,.withdrawal-summary-container {
  border: 1px solid #25013b
}

.deposit-summary-container .deposit-summary-header,.withdrawal-summary-container .withdrawal-summary-header {
  background-color: #25013b;
  color: #fff
}

.deposit-summary-container .deposit-summary-header .summary-transfer-amount,.withdrawal-summary-container .withdrawal-summary-header .summary-transfer-amount {
  color: #bdd700
}

.deposit-summary-container .deposit-summary-content,.withdrawal-summary-container .withdrawal-summary-content {
  background-color: transparent
}

.deposit-summary-container .deposit-summary-content .deposit-summary-footer,.withdrawal-summary-container .withdrawal-summary-content .withdrawal-summary-footer {
  border-top: 1px solid #25013b
}

.payment-maintenance-container,.remarks-container {
  background: #25013b;
  color: #fff
}

.payment-maintenance-container i,.remarks-container i {
  background-color: #f00;
  color: #fff;
  border-color: #fff
}

.remarks-container {
  border-color: #e4ff23;
  background: #25013b
}

.remarks-container i {
  background-color: transparent;
  border-color: #e4ff23;
  color: #e4ff23
}

.popover {
  background-color: #25013b;
  border-color: #460289;
  color: #e4ff23
}

.popover.top .arrow {
  border-top-color: #460289
}

.popover.top .arrow:after {
  border-top-color: #25013b
}

[data-payment-gateway] .download-qr-button {
  background: #d3ec1f;
  background: linear-gradient(to bottom,#d3ec1f 0%,#8b9c10 100%);
  color: #fff
}

.top-menu .game-list>li>a .background {
  background: linear-gradient(90deg,rgba(0,0,0,0) 0%,#520291 99.99%);
  border-color: #ad01c9
}

.large-game-list li,.large-game-list .game-provider-img {
  background: linear-gradient(180deg,rgba(35,35,35,0) 0%,rgba(69,5,108,.337284) 50.36%,#45056c 99.75%)
}

.large-game-list li .link-container .play-now,.large-game-list .game-provider-img .link-container .play-now {
  background: #ff7613;
  color: #fff
}

.large-game-list li .link-container .free-play,.large-game-list .game-provider-img .link-container .free-play {
  background: #fff;
  color: #000
}

.bank-info .bank-account-number-container img,.bank-info .download-qr-code-button img {
  filter: invert(1)
}

[data-payment-gateway] .destination-account-number-container img,[data-payment-gateway] .va-account-number img,[data-payment-gateway] .download-qr-button img {
  filter: invert(1)
}

.pending-transactions-container .pending-transactions-item {
  color: #fff;
  background-color: #1b002b
}

.pending-transactions-container .pending-transactions-item [data-payment-gateway] {
  background-color: #280041;
  color: #fff
}

.pending-transactions-container .pending-transactions-item [data-payment-gateway] hr {
  border-top: 1px solid #b895cd
}

.pending-transactions-container.pending-transactions-container [data-payment-gateway] .destination-account-number-container img {
  filter: invert(1)
}

.pending-transactions-container .pending-transactions-item [data-payment-gateway] .destination-account-bank-info>div>img {
  filter: initial
}

.pending-transactions-container .pending-transactions-item .pending-transaction-remarks-container {
  border-color: #ffffff33;
  color: #fff;
  background-color: #ffffff0f
}

.modal-body .pending-transaction-summary-container,.claim-info-modal .alert-container,.payment-account-creation-remarks {
  border-color: #460289;
  color: #fff;
  background-color: #1b002b
}

.modal-body .pending-transaction-summary-container a {
  color: #e4ff23
}

.modal-body .pending-transaction-summary-container .pending-transaction-summary-footer {
  border-top-color: #ffffff14
}

.modal-body .pending-transaction-summary-container .pending-transaction-summary-footer a {
  color: #000;
  background-color: #e4ff23
}

.modal-body .pending-transaction-details-container {
  color: #fff;
  background-color: #141517;
  border-color: #282828
}

.modal-body .pending-transaction-details-container .pending-transaction-details-item {
  background-color: #222;
  border-color: #222
}

.modal-body .pending-transaction-details-container .pending-transaction-details-item hr {
  border-color: #2a2a2a
}

.contact-verification-section label,.contact-verification-section ul li {
  color: #fff
}

.otp-popup .otp-popup-content {
  background-color: #25013b
}

.otp-popup .otp-popup-content h4 {
  color: #fff
}

.otp-fake-inputs div.filled,.otp-fake-inputs div.focused {
  border-color: #e4ff23
}

.otp-popup .otp-popup-content .resend-button {
  color: #e4ff23
}

.bonus-selection-popup .bonus-selection-popup-content {
  background: #0c0c0c
}

.bonus-selection-list .bonus-selection-card+.remarks-container {
  background: #dbff0017;
  color: #fff;
  border-color: #dbff00
}

.update-verification-note-container .update-verification-note {
  background: #320050;
  color: #fff
}

.update-verification-note-container .update-verification-note span {
  color: #f00
}

.replied-message:not([data-message-type="announcement"]) .replied-message-content * {
  color: #858585
}

.notification-list .notification-item {
  background: #040404;
  border-color: #242424
}

.notification-list .notification-item[data-seen="false"] {
  background: #190028;
  border-color: #540088
}

.notification-list .notification-item .notification-header .notification-label {
  background: #8f00e6
}

.notification-list .notification-item .notification-title-container .notification-title-content h3 {
  color: #fff
}

.notification-list .notification-item .notification-content p {
  color: #999
}

.standard-form-container.loyalty-benefit-form-container {
  background-color: #1b002b
}

.loyalty-benefit-form-container .standard-form-content {
  background-color: #1b002b
}

.loyalty-level-benefits-section {
  background: #0b0113;
  border-color: #320050
}

.loyalty-level-container .loyalty-level-item .loyalty-level-badge-container {
  background: #1a0a27
}

.loyalty-level-container .loyalty-level-item[data-selected="true"] .loyalty-level-badge-container {
  background: #3b2c49
}

.loyalty-level-container .loyalty-level-item .loyalty-level-progress-container .loyalty-level-progress-point {
  background: #2f2539;
  border-color: #2f2539
}

.loyalty-level-container .loyalty-level-item .loyalty-level-progress-container .loyalty-level-progress-bar {
  background: #2f2539
}

.loyalty-level-remarks-container {
  background: #e4ff2333;
  border-color: #e4ff23
}

.loyalty-level-benefits-container {
  background: #26013d
}

.loyalty-level-benefits-container .loyalty-level-benefits-list .loyalty-level-benefits-list-item {
  background: #351b50
}

.loyalty-container .loyalty-menu a {
  background-color: #2c0047;
  border-color: #422d57
}

.loyalty-reward-container {
  border-color: #320050;
  background-color: #0b0113
}

.loyalty-reward-container .category-title::before {
  background-color: #e4ff23
}

.loyalty-reward-container .loyalty-reward-button {
  background-image: linear-gradient(to bottom,#d3ec1f,#8b9c10);
  color: #fff
}

.loyalty-reward-container .tab-filter .tab {
  background-color: #22172b
}

.loyalty-reward-container .tab-filter input:checked+.tab {
  background-color: #e4ff23;
  color: #3f1d5f
}

.loyalty-reward-container .flash-sale-container::-webkit-scrollbar-thumb,.loyalty-reward-container .lucky-draw-container::-webkit-scrollbar-thumb,.loyalty-reward-container .other-product-container::-webkit-scrollbar-thumb {
  background: #342d4e
}

.loyalty-reward-container .flash-sale-container .item,.loyalty-reward-container .lucky-draw-container .item,.loyalty-reward-container .other-product-container .item {
  background-color: #2b0f44
}

.loyalty-reward-container .flash-sale-container .item .item-detail-contaner .item-lp .item-lp-detail,.loyalty-reward-container .lucky-draw-container .item .item-detail-contaner .item-lp .item-lp-detail,.loyalty-reward-container .other-product-container .item .item-detail-contaner .item-lp .item-lp-detail {
  background-color: #ffffff33
}

.loyalty-top-bar-container {
  background: linear-gradient(82.95deg,#25013b -41.64%,#4c2d6d 138.36%)
}

.whitelisted-domains-link {
  background: #97a91a;
  color: #fff
}

.search-header .search-title img {
  filter: invert(82%) sepia(81%) saturate(463%) hue-rotate(11deg) brightness(103%) contrast(103%)
}

.standard-remark-notification .remark-notification-content span {
  color: #e4ff23
}

.back-link-container a,.back-link-container a:hover {
  color: #fff;
  background: none
}

.add-new-payment-account-container a {
  color: #e4ff23
}

.add-new-payment-account-container a>img {
  filter: invert(73%) sepia(54%) saturate(595%) hue-rotate(22deg) brightness(117%) contrast(105%)
}

.set-as-default-button {
  background: none;
  color: #e4ff23;
  border-color: #e4ff23
}

.notification-list .notification-item .notification-play-button {
  background: #584593
}

.claim-item .claim-title .free-spin-note {
  color: #6a03cf
}

.floating-action-button .floating-action-button-item {
  background: linear-gradient(0deg,#26013f 0%,#3f0279 100%);
  border-color: #7e34c5;
  box-shadow: 0 4px 24px 0 #3f027980
}

.bonus-selection-container,.bonus-selection-list .bonus-selection-card.selected {
  background: #273400;
  border-color: #e4ff23
}

.bonus-selection-list .bonus-selection-card.selected .bonus-selection-card-footer {
  background: #273400
}

.bonus-selection-list .bonus-selection-card.selected .bonus-selection-card-content .bonus-selected {
  background: #e4ff23
}

.standard-inline-form-group .form-control[readonly] {
  background-color: #333
}

.simple-modal .btn-secondary {
  border: 1px solid #d8f221;
  color: #d8f221
}

.standard-outline-button {
  border-color: #e4ff23
}

.standard-remarks-container .standard-remarks-content-container p span {
  color: #e4ff23
}
